<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.tayue.chatinfotest.consumable.coin0.99</key>
	<dict>
		<key>icon</key>
		<string>⛽️</string>
		<key>price</key>
		<string>0.99</string>
		<key>desc</key>
		<string>消耗品-石油-0.99</string>
	</dict>
	<key>com.tayue.chatinfotest.consumable.coin1.99</key>
	<dict>
		<key>icon</key>
		<string>⛽️</string>
		<key>price</key>
		<string>1.99</string>
		<key>desc</key>
		<string>消耗品-石油-1.99</string>
	</dict>
	<key>com.tayue.chatinfotest.consumable.coin2.99</key>
	<dict>
		<key>icon</key>
		<string>⛽️</string>
		<key>price</key>
		<string>2.99</string>
		<key>desc</key>
		<string>消耗品-石油-2.99</string>
	</dict>
	<key>com.tayue.chatinfotest.nonconsumable.car002.3.99</key>
	<dict>
		<key>icon</key>
		<string>🚗</string>
		<key>price</key>
		<string>3.99</string>
		<key>desc</key>
		<string>汽车-car002-3.99</string>
	</dict>
	<key>com.tayue.chatinfotest.nonconsumable.car001.5.99</key>
	<dict>
		<key>icon</key>
		<string>🚛</string>
		<key>price</key>
		<string>5.99</string>
		<key>desc</key>
		<string>汽车-car001-5.99</string>
	</dict>
	<key>com.tayue.chatinfotest.subscriptions.year69.99</key>
	<dict>
		<key>icon</key>
		<string>🚀</string>
		<key>price</key>
		<string>69.99</string>
		<key>desc</key>
		<string>聊天-69.99-年订-设置订阅</string>
	</dict>
	<key>com.tayue.chatinfotest.subscriptions.month29.99</key>
	<dict>
		<key>icon</key>
		<string>💎</string>
		<key>price</key>
		<string>29.99</string>
		<key>desc</key>
		<string>聊天-29.99-月订-设置订阅</string>
	</dict>
	<key>com.tayue.chatinfotest.subscriptions.weekly9.99</key>
	<dict>
		<key>icon</key>
		<string>⭐️</string>
		<key>price</key>
		<string>9.99</string>
		<key>desc</key>
		<string>聊天-9.99-周订-设置订阅</string>
	</dict>
	<key>com.tayue.chatinfotest.nonsubscriptions.year.49.99</key>
	<dict>
		<key>icon</key>
		<string>📅</string>
		<key>price</key>
		<string>49.99</string>
		<key>desc</key>
		<string>非自动订阅-会员一年-49.99</string>
	</dict>
	<key>com.tayue.chatinfotest.nonsubscriptions.halfyear.29.99</key>
	<dict>
		<key>icon</key>
		<string>📅</string>
		<key>price</key>
		<string>29.99</string>
		<key>desc</key>
		<string>非自动订阅-会员半年-29.99</string>
	</dict>
	<key>com.tayue.chatinfotest.nonsubscriptions.mounth.19.99</key>
	<dict>
		<key>icon</key>
		<string>📅</string>
		<key>price</key>
		<string>19.99</string>
		<key>desc</key>
		<string>非自动订阅-会员一月-19.99</string>
	</dict>
</dict>
</plist>
